/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css"; 
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
$odd-row-background-color: #CFD8DC;
body{
    margin: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-label-container{
    z-index: 0 !important;
}
.mat-tab-header-pagination{
    z-index: 0 !important; 
}
.CodeMirror{
    min-height: calc(100vh - 49px);
}
.hide{
    display: none;
}